body {
    background-color: #e3e3e3;
}

body, p, h1, h2 {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

a, button {
    transition: 500ms;
    cursor: pointer;
}

.black-header {
    display: flex;
    justify-content: space-between;
    background-color: black;
    padding: 10px 16px ;
}

.black-header a {
    color: #ddd9d9;
    margin: 0 12px;
    font-weight: 300;
    font-size: 13px;
}

.black-header a:hover {
    color: white;
}

.white-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 14px 16px;
}

.customer-side {
    display: flex;
    align-items: center;
}

.white-header a {
    color: #616161;
    font-size: 17px;
    margin: 0 10px;
}

.white-header a:hover {
    color: #909090;
}

.white-header button {
    background-color: #f53c3c;
    color: white;
    padding: 12px 17px;
    border: none;
    border-radius: 5px;
}

.white-header button:hover {
    color: #f87676;
}

.hero {
    height: 80vh;
    background-image: url("./manhattan+sunset+new+york+city+empire+state+building+timelapse.jpg");
    background-size: cover;
}

.news {
    padding: 32px;
    background-color: white;
    margin: -24px 32px 0px 32px;
}

.news h2 {
    text-align: center;
    font-weight: 300;
    border-bottom: 2px solid rgb(235, 217, 60);
    width: 120%;
    margin: 0 auto;
    padding-bottom: 16px;
}

.cards {
    display: flex;
    justify-content: space-between;

}

.card {
    width: 48%;
    margin: 16px;
    border: 1px solid #e3e3e3;
    border-radius: 5px;
    padding-bottom: 16px;
}

.card .card-image img {
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.card .card-text, .card a {
    padding: 16px;
}

